.btn{
  background-color: red;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}