*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

button{
    padding: 10px 20px;
    margin: 20px;
    color: black;
}

h1{
    border-color: rgb(217, 9, 9);
    width: fit-content;
    font-size: 100px;
    padding: 10px 70px;
    border-radius: 10px;
    margin: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}